# Ignore credentials content, but keep the folder
/credentials/*
!/credentials/

# Ignore all downloaded data in /data except scripts and docs
/data/*/
!/data/*.py
!/data/requirements.txt
!/data/README.md

/plan
PRD.md

.DS_Store

*/__pycache__

.env

/data-prep/json/*.json
/data-prep/json/embeddings/*.json
/data-prep/json/final/*.json
!/data-prep/json/final/*.md
/data-prep/json/generated/*.json

/medical_gemma_hf
/llama.cpp
/medical_gemma_gguf